:root {
    --icon-size: 28px;
}

@media (min-width: 600px) {
    :root {
        --icon-size: 32px;
    }
}

@media (min-width: 1024px) {
    :root {
        --icon-size: 36px;
    }
}

.custom-max-width {
    max-width: 600px;
    margin: auto;
}

@media (max-width: 768px) {
    .custom-max-width {
        max-width: 100%;
        padding: 0 15px;
    }
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #888 rgb(255, 255, 255);
}

.index_adjust {
    z-index: 1;
}

.btn-logout-size {
    text-align: center;
    font-size: 0.9rem;
    margin: 0%;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-logout-size:hover {
    background-color: #b02a37 !important;
}

.bg-edit {
    background-color: #007bff;
    color: #ffffff;
    padding: 2px 10px;
    margin: 0%;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-edit:hover {
    background-color: #0056b3;
}

.fullWidth {
    width: 100%;
}

.overlay-visible {
    display: block;
    background-color: #000000c4;
    animation: fadeIn 0.5s ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.overlay-hidden {
    display: none;
}

.css-rhmlg1-MuiTypography-root-MuiDayCalendar-weekDayLabel {
    width: 100% !important;
    max-width: 100% !important;
}

/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */
/* REMOVE A SCROLL BAR DE TODO O HTML */

* {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

*::-webkit-scrollbar {
    display: none;
}

/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css?family=Poppins");

:root {
    --font-color: #000000;
    --color1: #162938;
}

input#email {
    background-color: transparent !important;
    color: var(--font-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: var(--font-color);
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: var(--font-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background-color: var(--font-color);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: var(--font-color);
    font-weight: 500;
    margin-left: 40px;
    transition: 0.5s;
}

.navigation .btnLogin-popup:hover {
    background-color: #fff;
    color: var(--color1);
    font-weight: 700;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.form-box h2 {
    font-size: 2em;
    color: var(--font-color);
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid var(--font-color);
    margin: 30px 0;
    background-color: transparent;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: var(--font-color);
    font-weight: 500;
    pointer-events: none;
    transition: 0.3s;
}

.input-box label.active {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: var(--font-color);
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: var(--font-color);
    line-height: 57px;
}

.remember-forgot {
    font-size: 0.9em;
    color: var(--font-color);
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: var(--font-color);
    margin-right: 3px;
}

.remember-forgot a {
    color: var(--font-color);
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: var(--color1);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: var(--font-color);
    font-weight: 500;
}

.login-register {
    font-size: 0.9em;
    color: var(--font-color);
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register a {
    color: var(--font-color);
    text-decoration: none;
    font-weight: 500;
}

.login-register a:hover {
    text-decoration: underline;
}

.suggestions-container {
    position:absolute;
    top: 300px; 
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 999;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
}

.suggestions-item{
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.3s;
}